*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body{
    background: #1c1c1c;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}
.box{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border:3px solid #fff;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    transform: scale(0);
    transition: .3s ease;
}
.box:hover .capa{
    transform: scale(1);
}
@media only screen and (max-width:900px){
    .container{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
}





.boton-rosado {
    display: inline-block;
    background-color: #ff6ad5;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
  }
  
  .boton-rosado::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .boton-rosado:hover {
    background-color: #ff0080;
  }
  
  .boton-rosado:hover::before {
    opacity: 1;
  }
  